body,
html {
  height: 100%;
  color: #000;
}

body {
  position: relative;
}

.fw-headine h1 {
  font-size: 52px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .fw-headine h1 {
    font-size: 40px;
    font-weight: 300;
  }

  html.fw-noscroll,
  html.fw-noscroll body {
    overflow-y: hidden !important;
  }

  html.fw-noscroll .navbar-default {
    border: none;
    overflow-y: scroll !important;
  }
}

.navbar-toggle .icon-bar {
  -webkit-transition: opacity, -webkit-transform;
  transition: opacity, -webkit-transform;
  transition: opacity, transform;
  transition: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
  background-color: #333 !important;
  height: 1px;
  border-radius: 0;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

/* END Burger-Menu Animation */

/* Menu Styles */
.navbar-default {
  border-color: rgba(214, 214, 214, 0.4);
  background-color: rgba(255, 255, 255, 0.95);
  min-height: 52px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}

.navbar-header {
  height: 52px;
}

.navbar-toggle {
  padding: 11px 10px;
  margin: 0 auto;
  background-color: transparent;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 11px;
  padding-left: 10px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border: none;
  background-color: transparent;
}

.navbar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 0;
  line-height: 44px;
  font-size: 13px;
  font-weight: 700;
  color: #4c5c67 !important;
}

.navbar-brand {
  padding: 0 11px;
  height: auto;
  font-size: 28px;
  font-weight: 300;
  line-height: 52px;
  color: #333 !important;
  display: block;
}

.navbar-brand img {
  display: block;
  float: right;
  height: 52px;
  padding: 12px 0 12px 0;
}

.navbar-brand span {
  display: block;
  float: right;
  height: 52px;
  padding: 0 0 0 10px;
}

.dropdown-menu > li > a {
  font-size: 10px;
}

@media (max-width: 767px) {
  .navbar-default {
    min-height: 48px;
  }

  .navbar-header {
    height: 48px;
    justify-content: left;
    text-align: left;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-brand img {
    display: none;
  }

  .navbar-brand span {
    display: none;
  }

  .navbar-collapse {
    height: 0;
    max-height: none !important;
    overflow-y: hidden;
  }

  .navbar-nav {
    min-height: calc(100vh - 48px);
    padding-left: 48px;
    padding-right: 48px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-collapse .navbar-nav {
    opacity: 0;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }

  .navbar-collapse.in .navbar-nav {
    opacity: 1;
  }

  .navbar-collapse.in {
    height: calc(100vh - 48px);
  }

  .navbar-nav > li > a {
    padding: 0;
    line-height: 48px;
    font-size: 15px;
    font-weight: 400;
    color: #333 !important;
  }

  .navbar-nav > li:first-child a {
    padding-top: 17px;
  }

  .navbar-nav > li:not(:first-child) a {
    border-top: 1px solid rgba(214, 214, 214, 0.5);
    line-height: 47px;
  }

  .navbar-nav > li:last-child a {
    padding-bottom: 28px;
  }

  .dropdown-menu > li:last-child a {
    padding-bottom: 24px !important;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    border-top: 1px solid rgba(214, 214, 214, 0.5);
  }
}
