@font-face {
  font-family: "COCOGOOSE";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg");
}

@media only screen and (max-width: 768px) {
  body {
    font-family: 'COCOGOOSE', sans-serif;
  }

  .social-link {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .mobile-menu {
    height: 45px;
    width: 45px;
    background-color: #d3d3d3;
    color: #ec5242;
    border: transparent;
    cursor: pointer;
  }

  .menu {
    height: 40px;
    width: 40px;
    margin-left: -3px;
    color: #ec5242;
    cursor: pointer;
  }

  .round-container {
    border: solid 1px #272a31;
    border-radius: 100px;
    width: 90%;
    background: white;
    margin-left: 10px;
    padding: 10px;
  }

  .red {
    color: #ec5242;
    font-weight: 600;
  }

  .center {
    text-align: center;
  }

  .event-banner {
    background: url(img/pattern.jpg);
    padding-top: 50px;
    margin-top: -40px;
    padding-bottom: 50px;
  }

  .align {
    margin-left: 60px;
  }

  .border-solid {
    background-color: #d3d3d3;
    color: #272a31c2;
    border: #272a31 solid 1px;
  }

  .white-bg {
    background: white;
    width: 80%;
    margin-left: 40px;
    border: #616264 solid 2px;
    padding: 30px;
  }

  .big-button2 {
    background-color: #ec5242;
    padding-bottom: 20px;
    cursor: pointer;
    height: 60px;
    width: 180px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 900;
    font-size: 15px;
    margin-left: 130px;
    color: #d3d3d3;
    display: block;
  }

  .p-text {
    font-size: 27px;
    color: #ec5242;
    font-weight: 400;
  }

  .bold {
    font-size: 40px;
    color: #ec5242;
    font-weight: 900;
  }

  .date {
    font-size: 28px;
    font-weight: 900;
  }

  .black-pattern {
    background: url(img/black-patter.jpg);
  }

  .line {
    width: 20px;
    color: #ec5242;
    background-color: #ec5242;
    margin-top: -20px;
    border-color: #ec5242;
  }

  .border-stripe {
    background-color: white;
    border: #ec5242 4px solid;
    padding: 0;
    width: 100%;
    margin-left: 0;
  }

  .main-program {
    color: white;
    font-size: 29px;
    text-align: center;
  }

  .speakers {
    color: #272a31;
    font-size: 29px;
    text-align: center;
  }

  .partners {
    color: #d3d3d3;
    font-size: 29px;
    text-align: center;
  }

  .black-bg {
    background-color: #272a31;
    padding: 30px;
  }

  .program {
    text-align: center;
    color: white;
    margin-left: 120px;
  }

  .flex {
    margin-bottom: 25px;
  }

  .add {
    margin: 10px;
    padding: 30px;
    text-align: center;
  }

  .space {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #272a31c2;
  }

  .text-white {
    color: #d3d3d3;
  }

  .space h3 {
    color: #ec5242;
  }

  .space p {
    color: #d3d3d3;
  }

  .breaker {
    margin-left: 235px;
    margin-top: -100px;
  }

  .table-div {
    margin-left: 1px;
    background-color: white;
    border-right: #b7b8ba solid 0.5px;
    border-left: #b7b8ba solid 0.5px;
    border-bottom: #b7b8ba solid 0.5px;
    padding-left: 5%;
    height: 70px;
    display: flex;
  }

  .table-head {
    background-color: #d3d3d3;
    padding: 12px;
  }

  .menu-opt {
    margin: 12px;
  }

  .big-button {
    background-color: #ec5242;
    padding: 200px;
    cursor: pointer;
    height: 100px;
    width: 170px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-left: 170px;
    color: #d3d3d3;
    display: none;
  }

  .flex-2 {
    display: flex;
    padding-bottom: 15px;
  }

  .flex-mob {
    display: block;
    justify-content: center;
  }

  .event-bg {
    background: linear-gradient(0deg, rgba(174, 25, 112, 0.638), rgba(163, 16, 102, 0.604)), url(img/event1.jpg);
    padding: 110px;
    margin: 20px;
    color: #d3d3d3;
  }

  .event-bg2 {
    background: linear-gradient(0deg, rgba(174, 25, 112, 0.638), rgba(163, 16, 102, 0.604)), url(img/event2.jpg);
    padding: 110px;
    margin: 20px;
    color: #d3d3d3;
  }

  .mobile-flex {
    display: flex;
  }

  .lecture-img {
    width: 50px;
    height: 50px;
    margin-right: 7px;
    margin-left: 5px;
  }

  .lecture {
    text-align: left;
    margin-left: 8px;
  }

  .exhibit {
    text-align: left;
    margin-left: 8px;
  }

  .workshop {
    text-align: left;
    margin-left: -9px;
    padding-left: -10px;
  }

  .left {
    text-align: left;
    margin-left: 10px;
    padding-top: 8px;
    width: 70%;
  }

  .left-ex {
    text-align: left;
    margin-left: 20px;
    padding-top: 8px;
    width: 70%;
  }

  .left-p1 {
    margin-left: 40px;
  }

  .left-p2 {
    margin-left: 7px;
  }

  .left-p3 {
    margin-left: 50px;
  }

  .left-p4 {
    margin-left: 20px;
  }

  .left-p5 {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 769px) {
  body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .social-link {
    background-color: #272a31;
    min-width: 100%;
    margin-top: -17px;
    height: 30px;
    padding: 10px;
    display: flex;
  }

  .event-bg {
    background: linear-gradient(0deg, rgba(174, 25, 112, 0.638), rgba(163, 16, 102, 0.604)), url(img/event1.jpg);
    padding: 110px;
    margin: 20px;
    margin-left: 200px;
    color: #d3d3d3;
  }

  .event-bg2 {
    background: linear-gradient(0deg, rgba(174, 25, 112, 0.638), rgba(163, 16, 102, 0.604)), url(img/event2.jpg);
    padding: 110px;
    margin: 20px;
    color: #d3d3d3;
  }

  .red {
    color: #ec5242;
    font-weight: 600;
  }

  .round-container {
    border: solid 1px #272a31;
    border-radius: 100px;
    width: 35%;
    background: white;
    margin-left: 480px;
    padding: 10px;
  }

  .big-button {
    background-color: #ec5242;
    padding: 200px;
    cursor: pointer;
    height: 100px;
    width: 170px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-left: 600px;
    color: #d3d3d3;
  }

  .big-button2 {
    display: none;
  }

  .ul-link {
    display: flex;
    list-style: none;
    margin-left: 55%;
  }

  .ul-link2 {
    display: flex;
    list-style: none;
    margin-left: 25%;
    margin-top: 11px;
  }

  .mobile-menu {
    display: none;
  }

  .nav-button {
    background-color: white;
    color: #ec5242;
    border: #ec5242 solid 2px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
  }

  .li-link {
    margin: 10px;
    margin-top: 2px;
  }

  .link {
    text-decoration: none;
    color: white;
    font-size: 11px;
  }

  .link2 {
    text-decoration: none;
    color: #272a31;
    font-size: 13px;
  }

  .li-link2 {
    margin: 14px;
    margin-top: 2px;
  }

  .nav-menu {
    display: flex;
  }

  .event-banner {
    background: url(img/pattern.jpg);
    padding-top: 50px;
    margin-top: -40px;
    padding-bottom: 50px;
  }

  .logo {
    height: 50px;
    width: 200px;
    margin-left: 30px;
  }

  .nav-link {
    background-color: white;
    box-shadow: #d3d3d3 3px 3px 14px;
    position: relative;
    z-index: 99999;
  }

  .align {
    margin-left: 60px;
  }

  .white-bg {
    background: white;
    width: 50%;
    margin-left: 350px;
    border: #616264 solid 2px;
    padding: 30px;
  }

  .breaker {
    margin-left: 600px;
    margin-top: -100px;
  }

  .menu-opt {
    margin: 30px;
  }

  .table-div {
    margin-left: 1px;
    background-color: white;
    border-right: #b7b8ba solid 0.5px;
    border-left: #b7b8ba solid 0.5px;
    border-bottom: #b7b8ba solid 0.5px;
    padding-left: 250px;
    height: 70px;
  }

  .table-head {
    background-color: #d3d3d3;
    padding: 12px;
  }

  .p-text {
    font-size: 35px;
    color: #ec5242;
    font-weight: 400;
  }

  .bold {
    font-size: 45px;
    color: #ec5242;
    font-weight: 900;
  }

  .date {
    font-size: 37px;
    font-weight: 900;
  }

  .text-white {
    color: #d3d3d3;
  }

  .one {
    margin-left: 280px;
  }

  .black-pattern {
    background: url(img/black-patter.jpg);
  }

  .line {
    width: 20px;
    color: #ec5242;
    background-color: #ec5242;
    margin-top: -20px;
    border-color: #ec5242;
  }

  .main-program {
    color: white;
    font-size: 29px;
    text-align: center;
  }

  .speakers {
    color: #272a31;
    font-size: 29px;
    text-align: center;
  }

  .partners {
    color: #d3d3d3;
    font-size: 29px;
    text-align: center;
  }

  .black-bg {
    background-color: #272a31;
    padding: 30px;
  }

  .flex {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 60px;
  }

  .flex2 {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 60px;
  }

  .flex-2 {
    display: flex;
    padding-bottom: 15px;
  }

  .flex-3 {
    display: flex;
    padding-bottom: 15px;
  }

  .align-box {
    margin-left: 200px;
  }

  .middle {
    padding-left: 200px;
  }

  .flex h3 {
    color: #ec5242;
  }

  .flex p {
    color: #d3d3d3;
  }

  .space {
    margin: 10px;
    background-color: #272a31d7;
    padding: 30px;
    text-align: center;
  }

  .mozilla {
    margin-left: 150px;
    justify-content: center;
  }

  .add {
    margin: 10px;
    padding: 30px;
    text-align: center;
  }

  .footer-add {
    margin: 10px;
    padding: 30px;
  }

  .program {
    text-decoration: none;
    color: #d3d3d3;
    text-align: center;
    justify-content: center;
    margin-left: 500px;
    margin-bottom: 20px;
  }

  .border-stripe {
    background-color: white;
    border: #ec5242 4px solid;
    padding: 10px;
    width: 90%;
    margin-left: 70px;
  }
}
